@import "/common/modules/AutomaticSettings/css/photonOptions.css";

html {
	font: caption;
	width: max-content;
}

.hidden {
	display: none;
}

a.button {
	appearance: button;
	text-decoration: none;
	color: unset;
}
